{#
    Title: Base Template
    Authors: Malachi Harris & Luke Hamann
    Date: 2024-08-31
    Updated: 2024-09-17
    Purpose: This file provides a base template for all pages of the
             application.
    Blocks: title, main
    Parameters:
        - csrf_token: str
        - return_url: str
        - user: User
#}

<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/main.css" media="screen" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                {% if user %}
                    {% if user.privilege == 'admin' %}
                        <li class="left-item">
                            <a href = "/users">Users</a>
                        </li>
                    {% endif %}
                        <li id="nav_logout" class="right-item">
                            <form action="/logout" method="post">
                                <input type="hidden" name="csrf_token"
                                    value="{{ csrf_token }}" />
                                <button type="submit">Logout</button>
                            </form>
                        </li>
                {% else %}
                        <li id="nav_login" class="left-item"><a href="/login{% if return_url %}?return_url={{ return_url }}{% endif %}">Login</a></li>
                {% endif %}
                {% if user %}
                        <li id="nav_display_name">{{ user.display_name }}</li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        <p>bookmarkapp</p>
    </footer>
</body>
</html>
