{#
    Title: Base Template
    Blocks:
        - title
        - main
    Parameters:
        - user: User
#}
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/main.css" media="screen" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                {% if user %}
                <li>
                    <form action="/logout" method="post">
                        <button type="submit">Logout</button>
                    </form>
                </li>
                <li><span>{{ user.display_name }}</span></li>
                {% else %}
                <li><a href="/login?return_url={{ return_url }}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        <p>bookmarkapp</p>
    </footer>
</body>
</html>
