{#
    Title: Delete Bookmark Form Template
    Parameters:
        - user_id: int
        - return_url: str
        - user: User
#}

{% extends "_base.html" %}

{% block title %}Confirm Delete{% endblock %}

{% block main %}
    <h1>Confirm Delete</h1>
    <form action="/users/delete_user" method="post" class="delete_form">
        <p>Are you sure you want to delete "{{ user.display_name }}"?</p>
        <button class="bookmark_form_buttons">
            <button type="submit">Yes</button>
            <a href="/users">Cancel</a>
        </button>
    </form>
{% endblock %}
