{#
    Title: Login Form Template
    Parameters:
        - csrf_token: str
        - errors: list[str]
        - return_url: str
        - user: User
        - username: str
#}

{% extends "_base.html" %}

{% block title %}Login{% endblock %}

{% block main %}
    <h1>Login</h1>
    <form action="/login" method="post" class="login_form">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" autocomplete="off"
            value="{{ username }}" {% if not username %}autofocus {% endif %}/>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" {% if username %}autofocus {% endif %}/>
        <input type="hidden" name="return_url" value="{{ return_url }}" />
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
        {% if errors %}
        <ul class="error_list">
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <button type="submit">Login</button>
    </form>
{% endblock %}
